# Program 1
# Method 1

In [1]:
# !pip instal pandas
import pandas as pd

In [2]:
data= {'Name': ['RAHIMA','RAHATUL','NAYEEM','SUHAN','IMRAN','SHADHIN','BAPPY'],
      'Age': [22,23,24,25,22,23,21],
      'Gender': ['F','M','M','M','M','M','M'],
      'Marks': [85,90,'NaN',70,82,'NaN',86]}

In [3]:
df =pd.DataFrame(data)

In [4]:
df

      Name  Age Gender Marks
0   RAHIMA   22      F    85
1  RAHATUL   23      M    90
2   NAYEEM   24      M   NaN
3    SUHAN   25      M    70
4    IMRAN   22      M    82
5  SHADHIN   23      M   NaN
6    BAPPY   21      M    86

In [5]:
### to write a csv file you have to use as given below
df.to_csv("rahatul.csv")

# Program 2
Method 2

In [17]:

#!pip install -U scikit-learn

!python -m pip install --upgrade pip

Requirement already satisfied: pip in c:\users\hp\appdata\local\programs\python\python311\lib\site-packages (22.3.1)
Collecting pip
  Using cached pip-23.0.1-py3-none-any.whl (2.1 MB)
Installing collected packages: pip
  Attempting uninstall: pip
    Found existing installation: pip 22.3.1
    Uninstalling pip-22.3.1:
      Successfully uninstalled pip-22.3.1
Successfully installed pip-23.0.1

In [11]:
from sklearn.datasets import load_boston  #import library
bdataset =load_boston()   #create function
print(bdataset.DESCR)

ModuleNotFoundError: No module named 'sklearn'

# Program 3 Uploading csv file
method 3

In [6]:
import pandas as pd

In [7]:
df = pd.read_csv('1.car driving risk analysis.csv')
df

    speed  risk
0     200    95
1      90    20
2     300    98
3     110    60
4     240    72
5     115    10
6      50     7
7     230    85
8     190    45
9     260    91
10    290    82
11    185    59
12    310    93
13     95    18
14     30     2

In [8]:
df.head()

   speed  risk
0    200    95
1     90    20
2    300    98
3    110    60
4    240    72

In [9]:
df.tail()

    speed  risk
10    290    82
11    185    59
12    310    93
13     95    18
14     30     2